/* general */
*{padding:0;margin:0;}
html,body{height:100%;}
/* ------- */

#toolbar{
	position: absolute;
	height:100%;
	width:250px;
	border-right: 1px solid #ccc;
	h2{
		background-color: #eee;
		padding:6px 10px;
		font-weight: bold;
		font-size: 16px;
	}
	form {padding:10px;}
	#createForm{
		button{padding:4px;}
	}
	#attrsForm{
		label{
			display:inline-block;
			text-align: right;
			width:80px;
		}
		input{
			display: inline-block;
			width:120px;
			margin-left:21px;
			margin-top: 2px;
			margin-bottom: 2px;
		}
	}
	#lookForm{
		p{
			margin-bottom:6px;
			&#row-fill, &#row-stroke{
				label{
					display: inline-block;
					width:40px;
				}
				input[type=color]{
					width:40px;
				}
				input[type=range]{
					margin-left:10px;
					width:120px;
				}
			}
			&#row-transforms{
				label{
					display: inline-block;
					width:80px;
				}
				input[type=range]{
					margin-left:16px;
					width:120px;
				}
			}
		}
	} // #lookForm
	#canvasSettingForm{
		label{
			display: inline-block;
			width:80px;
		}
		input{
			display: inline-block;
			width:120px;
			margin-left:16px;
		}
		p:last-child{
			margin-top:20px;
			text-align: center;
			button{
				height:30px;
				width:100px;
			}			
		}
	}
}

#canvas {
	position: absolute;
	left  : 260px;
	top   : 10px;
	right : 10px;
	bottom: 10px;
	border:	1px solid #ccc;
	box-shadow: 2px 2px 10px rgba(0,0,0,.4);
	border-radius: 5px;
	svg *:hover{cursor: default;}
}